@font-face {
  font-family: "Thai-Dye";
  src: url("../fonts/HFFThaiDye.ttf");
}

@font-face {
  font-family: "Arima";
  src: url("../fonts/ArimaMadurai-Medium.ttf");
}

/* Media Queries */

@media (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 1.4vw;}
}

@media screen and (max-width: 575.98px) {
  .bgimg-title {
    background-image: url("../img/bg-title-sm.jpg") !important;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


body, html {
  font-family: "Arima";
  margin-bottom: 5%;
  width: 100%;
  background-image: url("../img/bg-vali.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  font-size: 1.5vw;
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #665d1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b88a1f;
}


/* Dropdown Menu & Navigation */

.navbar {
  background-color: #fffaf0;
  color: #111 !important;
}

.nav-link {
  color: #111;
}

.dropdown-toggle {
  font-family: "Thai-Dye";
  background-color: #fffaf0;
  color: #111;
  font-size: 1.6vw;
  cursor: pointer;
  border: none;
  padding: 5px;
}

.dropdown-toggle:hover {
  color: #b88a1f;
  text-decoration: none;
}

.dropdown-toggle:focus {
  color: #b88a1f;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0.3vw;
  border-color: #b88a1f;
}

.dropdown-menu {
  font: 1.6vw "Arima";
  background-color: #fffaf0;
  color: #111;
}

.dropdown-menu:hover .a {
  text-decoration: none;
}

a.dropdown-content:hover {
  text-decoration: none;
}

.dropdown-menu>li>a {
  color: #111;
  text-decoration: none;
  padding: 3px;
  font-size: 1.6vw;
}

.dropdown-menu>li>a:hover {
  background-color: #b88a1f;
  color: #fffaf0;
  text-decoration: none;
}

.nav-link-dir {
  font-family: "Arima";
  color: #b88a1f;
  text-decoration: none;
  padding: 0.3vw;
}

.nav-link-dir:hover {
  font-family: "Arima";
  color: #906C18;
  text-decoration: none;
}

.navbar-form {
  font-family: "Arima";
  background-color: transparent;
  padding: 1vw;
}

.form-control {
  width: 20vw;
  background-color: #fff;
  border: solid;
  border-color: #b88a1f;
}

.form-control:focus {
  width: 20vw;
  background-color: #fff;
  border: solid;
  border-color: #b88a1f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.custom-toggler.navbar-toggler {
  border-color: rgb(168, 28, 28);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(168,28,28, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fffaf0;
  background-color: #b88a1f;
}


/* Containers */

.container {
  font-family: "Arima";
  background-color: #fffaf0;
  color: #111;
  line-height: 1.8em;
  position: relative;
  top: 10%;
  max-width: 90%;
  border: none;
  border-radius: 25px;
  overflow: auto;
}

.tab {
  text-indent: 2em;
}


.form-control .intake {
  width: 100%;
}


/* Progress Bar */

#scrollbar {
  width: 1%;
  height: 100%;
  padding: 0;
  margin: 0 0 0 auto;
  right: 0;
  top: 0;
  position: fixed;
  background-color: #fffaf0;
}

#scrollbar #bar {
  width: 100%;
  height: 0%;
  background-color: #b88a1f;
}

/* Footer */

.footer {
  font: 1vw "Arima";
  background-color: #fffaf0;
}

.footer p {
  margin-bottom: 0;
}


/* Headings */

h1 {
  font: 2.5vw "Thai-Dye";
  font-weight: bolder;
  letter-spacing: 5px;
  color: #111;

}

h2 {
  font: 1.9vw "Thai-Dye";
  font-weight: bolder;
  letter-spacing: 5px;
  color: #111;
}

h3 {
  font: 1.6vw "Thai-Dye";
  font-weight: bolder;
  letter-spacing: 5px;
  color: #111;
}


/* Links */

a {
  color: #906C18;
  position: relative;
  text-decoration: underline;
  display: inline;
}

a:hover {
  color: #6E5212;
  position: relative;
  text-decoration: underline;
}

a.disabled2 {
  display: block;
  padding: 5px;
  color: #B31414;
  text-decoration: none;

  font-size: 1.8vw;
  text-align: right;
}

a.disabled2:hover {
  color: gray;
  cursor: help;
}


/* Figures */

.figure-left {
  float: left;
  width: 50%;
  padding: 10px;
}

.figure-right {
  float: right;
  width: 50%;
  padding: 10px;
}

.figure-caption {
  font-size: 1.2vw;
  line-height: 1.5em;
}

a.figure-caption {
  color:gray
}


/* Footnotes */

.fn {
  font-size: 1.3vw;
  line-height: 1.5;
  margin-top: -.5em;
}

.fn.tab {
  text-indent: 2em;
}

a.fn {
  text-decoration: none;
}

a.fn:hover {
  text-decoration: underline;
}


/* Blockquotes */

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: lightgray;
  padding: 1.5em 2em 1.5em;
  margin: 1.5em 0;
  position: relative;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fffaf0;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em "Arima";
  color: silver;
  text-align: left;
}

hr {
  background-color: #111;
  border: none;
  margin-bottom: 1em;
  padding: 3px;
}


/* Pop-Up Modal */

.modal-header {
  padding: 9px 15px;
  border-bottom:1px solid #eee;
  background-color: #f46262;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}


/*Marginal Notes on Desktop*/

aside, .aside {
  display: inline;
  float: right;
  position: relative;
  width: 22vw;
  margin-right: -23vw;
  font-size: 1.1vw;
  color: #906C18;
  line-height: 1.6em;
}

/*Marginal Notes on mobile*/
@media (max-width: 768px) {
  aside, .aside {
    display: block;
    float: none;
    margin: 5% 10% 5% 10%;
    width: 80%;
    font-size: 1vw;
    color:#906C18;
    line-height: 1.6;
  }
}

.margin {
  margin-right: 28%;
}


/* Videos */

.video {
  width: 50%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Buttons */

.card {
  background-color: #fffaf0;
}

.btn-link {
  color: #ecc441;
  font-size: 1.8vw;
}

.btn-link:hover {
  color: #ecc441;
  font-size: 1.8vw;
}

.btn {
	box-shadow: 3px 4px 0px 0px #4f360b;
	background: linear-gradient(to bottom, #ffe047 5%, #b88a1f 100%);
	background-color: #ffe047;
	border-radius: 18px;
	border: 1px solid #e6a500;
	display: inline-block;
	cursor: pointer;
	color: #333;
	font-family: "Arima";
	font-size: 1.6vw;
  font-weight:bolder;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #d1aa49;
  text-align: center;
}

.btn:hover {
	background: linear-gradient(to bottom, #b88a1f 5%, #ffe047 100%);
	background-color: #b88a1f;
  text-decoration: none;
  text-align: center;
}

.btn:active {
	position: relative;
	top: 1px;
}


/* Audio */

.audio {
  width: 100%;
  float: left;
}


/* Pagination */

.pagination > li > a
{
    background-color: rgb(252, 249, 242);
    color: #786c00;
    border-color: #ddd;
    text-decoration: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #fff;
    background-color: #c6a800;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: rgb(154, 154, 154) !important;
    background-color: #fff !important;
    border: solid 1px #fff !important;
}

.pagination > .active > a:hover
{
    background-color: #fff !important;
    border: solid 1px #fff;
}
